.address {
  &__list {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.174;
    letter-spacing: 0.03em;
  }
  &__item {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $function;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address {
  &__link {
    &--place {
      color: $primary-white;
    }
    &--connection {
      color: $address-subscribe-color;
    }
  }
}

.address {
  &__link {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
