.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  &--place {
    color: var(--primary-white);
  }
  &--connection {
    color: var(--address-subscribe-color);
  }
}
