.data-form {
  &__agree-newsletter {
    display: block;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    text-align: center;
    color: var(--secondary-text);
    &__text {
      display: inline;
    }
  }
}

.agree-newsletter {
  &__text {
    display: inline;
  }
}

.agreement {
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    text-decoration: underline;
    color: var(--accent-color);
  }
}

.data-form {
  &__checkbox {
    appearance: none;
    position: absolute;
  }
}

.checkbox {
  &__icon {
    display: inline-block;
    border: 2px solid var(--primary-text);
    border-radius: 2px;
    vertical-align: sub;
    &--check-mark {
      display: block;
      width: 16px;
      height: 15px;
    }
  }
}

.data-form {
  &__checkbox:checked {
    + .checkbox {
      &__icon {
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--accent-color);
        border-color: var(--accent-color);
      }
    }
  }
}
