.page-footer {
  &__join {
    margin-left: 70px;
  }
}

.join {
  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    color: var(--primary-white);
    margin-bottom: 20px;
  }
}
