.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.173;
  color: var(--black-color);
  &--accent {
    color: var(--accent-color);
  }
}

.page-header {
  &__logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.page-footer {
  &__logo {
    display: block;
    margin-bottom: 20px;
    color: var(--primary-white);
  }
}
