.page-header {
  background-color: var(--primary-white);
}

.page-header__border {
  border-bottom: 1px solid var(--line-header);
}

.page-header__container {
  display: flex;

  align-items: center;
}
