.portfolio {
  padding-top: $section-indent;
  padding-bottom: $section-indent;
  background-color: $primary-white;
  &__list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    transition-property: background-color, color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: $function;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.portfolio {
  &__list {
    .portfolio {
      &__button {
        &:hover,
        &:focus {
          background-color: $accent-color;
          color: $primary-white;
          border-radius: 4px;
        }
      }
    }
  }
}
