.portfolio {
  padding-top: var(--section-indent);
  padding-bottom: var(--section-indent);
  background-color: var(--primary-white);
  &__list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    transition-property: background-color, color, border-radius;
    transition-duration: 250ms;
    transition-timing-function: var(--function);
  }
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.portfolio {
  &__list {
    .portfolio {
      &__button {
        &:hover,
        &:focus {
          background-color: var(--accent-color);
          color: var(--primary-white);
          border-radius: 4px;
        }
      }
    }
  }
}
