.project {
  &__list {
    display: flex;
    margin-left: calc(-1 * var(--card-indent));
    margin-bottom: calc(-1 * var(--card-indent));
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project {
  &__item {
    display: flex;
    margin-left: $card-indent;
    margin-bottom: $card-indent;
    flex-basis: calc(100% / 3 - var(--card-indent));
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--function);
    &:hover,
    &:focus {
      box-shadow: $box-shadow1, $box-shadow2, $box-shadow3;
    }
  }
}

.card {
  min-width: 370px;
  &__thumb {
    position: relative;
    overflow: hidden;
  }
  &__overlay-description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.555;
    letter-spacing: 0.03em;
    background-color: $overlay-color;
    color: $primary-white;
  }
  &__content {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-right: 1px solid $border-card;
    border-bottom: 1px solid $border-card;
    border-left: 1px solid $border-card;
    background-color: $primary-white;
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text;
  }
  &__text {
    margin-top: 4px;
    line-height: 1.875;
    color: $secondary-text;
  }
}

.project {
  &__link {
    &:hover {
      .card {
        &__overlay-description {
          display: block;
          transform: translateY(-100%);
          transition: 250ms $function;
        }
      }
    }
  }
}
