.site-nav {
  &__list {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
  }
}

.site-nav {
  &__list {
    .site-nav {
      &__item + .site-nav {
        &__item {
          margin-left: 50px;
        }
      }
    }
  }
}

.site-nav {
  &__item {
    @extend %transition-color;
  }
}

.site-nav {
  &__link {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.site-nav {
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text;
    &--active-page {
      color: $accent-color;
      position: relative;
      &::after {
        @extend %line-bottom;
      }
    }
  }
}
