.social-links {
  &__list {
    display: flex;
    padding: 8px 32px 30px 32px;
  }
}

.social-links {
  &__list {
    .social-links {
      &__item + .social-links {
        &__item {
          margin-left: 10px;
        }
      }
    }
  }
}

.social-links {
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: $color-icon;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: $function;
    &:hover,
    &:focus {
      background-color: $accent-color;
      fill: $primary-white;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
}

.social-links {
  &__list {
    &--footer {
      padding: 0;
    }
  }
}

.social-links {
  &__link {
    &--footer {
      fill: $primary-white;
      background-color: $color-circle-icon-bottom;
      &:hover,
      &:focus {
        background-color: $accent-color;
        fill: $primary-white;
      }
    }
  }
}
