.what-doing {
  padding-bottom: var(--section-indent);

  background-color: var(--primary-white);
}

.what-doing__subtitle {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;

  text-align: center;
}

.what-doing__list {
  display: flex;
}

.what-doing__item:not(:last-child) {
  margin-right: 30px;
}

.what-doing__item {
  position: relative;
}

.what-doing__direction {
  display: block;
  width: 370px;
  height: 70px;

  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  position: absolute;
  bottom: 0;
  transform: translate(0%, 0%);

  background-color: var(--bgc-what-doing-title);
  color: var(--primary-white);
}

.what-doing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
}
